* {
  box-sizing: border-box;
}

img {
  width: 100%;
  margin-bottom: 25px;
}

h1 {
  margin: 45px 0;
  color: #2e7ad3;
  font-size: 48px;
  text-align: center;
}

h2 {
  color: #104c90;
  font-size: 32px;
  margin: 0;
  margin-bottom: 25px;
}

a {
  color: #ff8000;
}

p {
  font-size: 16px;
}

.card {
  max-width: 500px;
  margin: 0 auto;
  background: #f1f1f1;
  padding: 25px;
}
