/* Note:
1. Inline: no padding and margin for y-axis */

.card {
  background: #000;
  color: #fff;
  width: 500px;
  margin: 0 auto;
  padding: 45px;
}

h1,
p {
  margin-top: 0;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

.links {
  margin-top: 40px;
  margin-bottom: 0px;
}

.accent-colour {
  color: yellow;
}

/* Link states */
a:visited,
a:link {
  color: #ffe600;
}

a:focus {
  color: aquamarine;
}

a:hover {
  color: firebrick;
}

a:active {
  color: plum;
}
